[Unit]
Description=AlefTav Server Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /deploy/aleftav/src/chatServer.py

[Install]
WantedBy=multi-user.target